Must communicate over port 5353

This issue will be used to collect all the other related issues under one umbrella.
These are likely all to be related to the same issue, and more will probably be added.
* #33 - Announced services doesn't show up in standard bonjour tools
* #34 - Service with specific name can't be found by mdns-js, but can with mdns
* #35 - Unable to discover Apple TV 

All of these are probably related to the fact that this library was not following standards.
[RFC6762 section 5.2]( https://tools.ietf.org/html/rfc6762#section-5.2) states that 

> A compliant Multicast DNS querier, which implements the rules
> specified in this document, MUST send its Multicast DNS queries from
> UDP source port 5353 (the well-known port assigned to mDNS), and MUST
> listen for Multicast DNS replies sent to UDP destination port 5353 at
> the mDNS link-local multicast address (224.0.0.251 and/or its IPv6
> equivalent FF02::FB)

Read more and help out with documentation on what ports to use and what the standard says you can have a look at [doc/notes.md](https://github.com/kmpm/node-mdns-js/blob/master/doc/notes.md)